html, body {
    max-width:100%;
    overflow-x:hidden;
}
@keyframes grow-and-shrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes pulse {
    /*   Outward Pulse */
      25% {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
      }
    /*   Inward Pulse */
      75% {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
      }
    }

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.custom_nav_menu{
    /* display: flex !important; */
    justify-content: center !important;
}
.custom_menu_list_item{
    font-family: Hind;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #000;

}
.logo_text{
    font-family: Bebas Neue;
    font-size: 33px;
    font-weight: 800;
    line-height: 42.34px;
    text-align: left;
    color: #0E0129;
    text-transform: uppercase;

}
.banner_section{
    background-image: url(../../Assets/images/banner_bg.png);
    background-position: bottom center;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 20px;

}
.discounts_deals_heading{
    font-family: Lato;
    font-size: 71px;
    font-weight: 900;
    line-height: 80px;
    text-align: left;
    color: #000;
    text-transform: uppercase;
}
.banner_coupon_text{
    color: #FFB800;

}
.banner_text{
    font-family: Hind;
    font-size: 15px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
    color: #000;

}
.banner_btn{
    font-family: Hind;
    font-size: 14px;
    font-weight: 500;
    line-height: 27.42px;
    text-align: center;
    background: #FFB800;
    color: #000;
    border: none;
    border-radius: 6px;
    padding: 4px 25px;
   
}
.banner_btn:hover{
    webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1; 
}
.banner_right_img{
    width: 72%;
}
.second_section{
    padding: 80px 20px;
}
.categories_heading{
    font-family: Lato;
    font-size: 48px;
    font-weight: 700;
    line-height: 45.97px;
    text-align: left;
    color: #141414;
    
}
.categories_text{
    font-family: Hind;
    font-size: 17px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
    color: #000000;
}
.categories_tab_box{
    display: flex;
    gap: 19px;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 377px;
}
.categories_option{
    font-family: Hind;
    font-size: 20px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: #121212;
    margin: 0;

}
.category_option_img{
    width: 23%;
}
.fashion_bg{
    background-image: url(../../Assets/images/fashion_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 480px;
    padding-bottom: 20px;
    padding-left: 12px;
    opacity: 0.9;

}
.fashion_text{
    font-family: K2D;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: #fff;
}
.categories_tab_box_spacing{
    margin-top: 34px;
}
.food_bg{
    background-image: url(../../Assets/images/food_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 215px;
    padding-bottom: 11px;
    padding-left: 12px;
    opacity: 0.9;
}
.travel_bg{
    background-image: url(../../Assets/images/travel_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 183px;
    padding-bottom: 9px;
    padding-left: 12px;
    margin-top: 30px;
    opacity: 0.9;
}
.third_section{
    /* background-image:  linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url(../../Assets/images/card_bg.png); */
    background-image: url(../../Assets/images/card_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size: cover; */
    padding: 39px 0px 183px;
    /* opacity: 0.7; */
    margin-top: 30px;
}
.coupon_code_heading{
    text-align: center;
    font-family: Lato;
    font-size: 50.47px;
    font-weight: 700;
    line-height: 42px;
    color: #141414;
}
.coupon_code_text{
    font-family: Hind;
    font-size: 15px;
    font-weight: 400;
    line-height: 37px;
    text-align: center;
    color: #000;
    padding: 0px 227px;
  
}
.coupon_card{
    background-image: url(../../Assets/images/home_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    padding: 12px 12px 214px;
    border-radius: 12px 12px 0px 0px;
}
.coupon_card_one{
    background-image: url(../../Assets/images/spa.png);
   
}
.coupon_card_two{
    background-image: url(../../Assets/images/travel_one_bg.png);  
}
.coupon_card_three{
    background-image: url(../../Assets/images/women_spa_bg.png);  
}
.coupon_card_four{
    background-image: url(../../Assets/images/furniture_bg.png); 
}
.coupon_card_five{
    background-image: url(../../Assets/images/electronics_bg.png); 
}
.coupon_card_six{
    background-image: url(../../Assets/images/hotel_bg.png); 
}
.coupon_card_seven{
    background-image: url(../../Assets/images/resturant_bg.png); 
}
.discount_tag{
    font-family: K2D;
    font-size: 20px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    width: 63px;
    height: 63px;
    background-color: #D2232A;
    text-transform: uppercase;
    padding: 9px 10px;
}
.main_card_box{
    overflow: hidden;
    /* background-image: url(../../Assets/images/card_bg_one.png); */
    border-radius: 12px 12px 12px 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card_bottom_bg{
    background-image: url(../../Assets/images/card_bottom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 48px 20px 13px; 
    background-color: #adadad29;
}
.card_heading{
    font-family: Hind;
    font-size: 18px;
    font-weight: 600;
    line-height: 12px;
    text-align: center;
    color: #000;
}
.card_text{
    font-family: Hind;
    font-size: 15px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
    color: #4E4D4D;
}
.card_box_btn{
    font-family: Hind;
    font-size: 13px;
    font-weight: 600;
    line-height: 26.35px;
    text-align: center;
    color: #000;
    background: #FFB800;
    border: none;
    width: 100%;
}
.card_box_btn:hover{
    opacity: 0.9;
}
.shop_smarter_bg{
    background-image: url(../../Assets/images/shop_smart_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 50px 42px;
    border-radius: 15px;
    border: none;
}
.shop_smart_heading{
    font-family: Lato;
    font-size: 31px;
    font-weight: 700;
    line-height: 37.59px;
    text-align: center;
    color: #141414;
    text-transform: uppercase;

}
.shop_smart_text{
    font-family: Hind;
    font-size: 16px;
    font-weight: 400;
    line-height: 37px;
    text-align: center;
    color: #676767;

}
.counter_box_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.counter_numbers{
    font-family: Lato;
    font-size: 36px;
    font-weight: 900;
    line-height: 31.97px;
    text-align: center;
    color: #000;
}
.counter_text{
    font-family: Hind;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #1A1A1A;

}
.feature_shop_bg{
    background-image: url(../../Assets/images/feature_shop_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 124px 20px;
    margin-top: 30px;
    
}
.shop_feature_frame_bg{
    background-image: url(../../Assets/images/shop_farme.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 252px 0px;
}
.shop_frame_text{
    font-family: Lato;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;

}
.featured_shop_heading{
    font-family: Lato;
    font-size: 40px;
    font-weight: 700;
    line-height: 45.97px;
    text-align: left;
    color: #141414;
}
.featured_shop_text{
    font-family: Hind;
    font-size: 18px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
    color: #000;
}
.shop_features_logos_div{
    display: flex;
    /* flex-wrap: wrap;
    gap: 12px; */
    align-items: center;
    margin-top: 30px;
}
.shop_features_logos_img{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 80%;
}
.features_logo_text{
    font-family: Hind;
    font-size: 16px;
    font-weight: 600;
    line-height: 12px;
    text-align: center;
    color: #000;
    margin: 21px 0px;

}
.blogs_section{
    background-image: url(../../Assets/images/card_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 49px 0px 150px;
    /* opacity: 0.7; */
}
.blogs_heading{
    font-family: Lato;
    font-size: 35px;
    font-weight: 700;
    line-height: 35.24px;
    letter-spacing: 0.003em;
    text-align: left;
    color: #000;
    
}
.blogs_title{
    font-family: Lato;
    font-size: 19px;
    font-weight: 700;
    line-height: 10.03px;
    text-align: left;
    color: #FFB800;
    padding-top: 20px;
}
.blogs_meta{
    font-family: Hind;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #000;
}
.blogs_details_div{
    display: flex;
    align-items: center;
    gap: 12px;
}
.bloger_name{
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.03px;
    text-align: left;
    color: #2D2A2A;

}
.sian{
    color: #8B8383;

}
.testimonials_heading{
    font-family: Lato;
    font-size: 40px;
    font-weight: 700;
    line-height: 45.97px;
    text-align: center;
    color: #141414;

}
.testimonial_box{
    background-color: #fff;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    border-radius: 14px;
    text-align: center;
    margin: 0 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.star_rate_img{
    padding: 20px;
    width: 20%;
    margin: 0 auto;
}
.star_rate_divider{
    height: 2px;
    background-color: #CBCBCB;
}
.testimonial_text{
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 36.54px;
    text-align: center;
    color: #636363;
    padding: 45px 30px;

}
.client_name{
    font-family: Lato;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #1A1A1A;
    text-transform: capitalize;
    padding: 20px 10px;
}
.mySwiper .swiper-slide-prev{
margin-top: 60px;
}
.mySwiper .swiper-slide-next{
    margin-top: 60px;
    }
.mySwiper .swiper-button-prev:after{
    color: #FFB800;
    border: 1px solid #FFB800;
    border-radius: 55%;
    background-color: #fff;
    font-size: 12px;
    padding: 6px;
    left: -9px;
    position: absolute;
    width: 25px;
    height: 25px;
    text-align: center;
}
.mySwiper .swiper-button-next:after{
    color: #FFB800;
    border: 1px solid #FFB800;
    border-radius: 55%;
    background-color: #fff;
    font-size: 12px;
    padding: 6px;
    right: -9px;
    position: absolute;
    width: 25px;
    height: 25px;
    text-align: center;
}
.best_discounts_section{
    overflow-y: hidden;
    margin-bottom: 40px;
    
}
.best_discounts_heading{
    font-family: Lato;
    font-size: 40px;
    font-weight: 700;
    line-height: 45.97px;
    text-align: left;
    color: #141414;
}
.promo_code_div{
    display: flex;
    flex-wrap: wrap;
    /* gap: 8px; */
    justify-content: space-between;
    /* align-items: end; */
    padding: 21px 21px;
    border: 1px dashed #000;
    border-radius: 15px;
   margin-top: 20px;
   height: 16%;

}
.promo_text{
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: #1A1A1A;

}
.success_text{
    font-family: Lato;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: #FFB800;
}
.get_coupon_text{
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: right;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
    align-self: flex-end;
}
.promo_img{
    width: 17%;
    height: 96%;
}
.footer_section{
    background-image: url(../../Assets/images/footer_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    border-top: 2px solid #FFB800;
    position: relative;
}
.newsletter_bg_box{
    background: url(../../Assets/images/subscribe_bg.png);
    /* background-image: linear-gradient((#ff7800)), url('../../Assets/images/subscribe_bg.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 43px;
}
.subscribe_text{
    font-family: Righteous;
    font-size: 33px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #000;

}
.add_email_div{
     border: none;
     border-radius: 48px 33px 33px 0px;
     margin: 20px;
     padding: 14px;
     display: flex;
     background: #ffff;
     width: 50%;
     color: #262626;
    }
.comments_input:focus{
    outline: none;
}
input.comments_input[type=email]{
    font-family: Jost;
    font-size: 17px;
    font-weight: 400;
    line-height: 24.57px;
    text-align: left;
    width: 75%;
    border: none;
    color: #262626;
    background: #fff;
    position: relative;
    } 
    
.comments_input::placeholder{
    font-family: Jost;
    font-size: 17px;
    font-weight: 400;
    line-height: 24.57px;
    /* background: #F2F2F2; */
    color: #262626;
    border: none;
    margin-left: 20px;
    } 
.comment_btn{
    font-family: Righteous;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.5px;
    text-align: center;
    border: none;
    background: #FFB800;
    border-radius: 48px 35px 35px 0px;
    padding: 10px 14px;
    width: 38%;

}
.footer_icon_img{
    position: absolute;
    left: 33px;
    animation: grow-and-shrink 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* top: 50%; */
}
.footer_icon_img_two{
    position: absolute;
    left: 42%;
    top: 50%;
    animation: grow-and-shrink 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.watch_icon_img{
    width: 28%;
}
.footer_logo{
    font-family: Bebas Neue;
    font-size: 50px;
    font-weight: 600;
    line-height: 47.34px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 25px;
}
.footer_about{
    font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: -0.02em;
    text-align: justify;
    color: #000000;
}
.social_icons_div{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.social_icons{
    color: #000;
    font-size: 12px;
    align-self: center;
    background-color: #b3b3b3;
    border-radius: 50%;
    text-align: center;
    width: 23px;
    height: 23px;
    padding: 10px;
}
.social_icons:hover{
    background: #FFB800;
    color: #fff;

}
.quick_links_boxes{
    /* margin-top: 72px; */
    /* margin-left: 20px; */
}
.quick_link_heading{
    font-family: Lato;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    color: #000;
    margin-top: 71px;
 

}
.footer_nav_list{
    list-style: none;
}

.footer_list_item{
    font-family: Hind;
    font-size: 17px;
    font-weight: 400;
    line-height: 48.82px;
    text-align: left;
    color: #000;
    text-decoration: none;
    display: block;
}
.footer_list_item:hover{
    color: #000;
    font-weight: 700;
}
.footer_list_item_active{
    color: #000;
    font-weight: 700;
}
.info_icons{
    background: #FFB800;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    width: 44px;
    height: 44px;
    text-align: center;
}
.info_links_div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.info_links_text{
    font-family: Hind;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #000;
    padding: 0;
    margin: 0px;

}
.foter_divider{
    background-color: #000;
    opacity: 50%;
    height: 2px;
    margin: 30px 0px;
}
.copyright_text{
    font-family: Hind;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #000;

}
.footer_copyright{

    font-weight: 700;

}
.card_bottom_bg_one{
    background: #fff;
    padding: 15px;
}
.card_bottom_bg_two{
    padding: 8px 0px;
    background: #fff;
}
 .boxes {
    position: relative;
    width: 110%;
    left: -5%;
    display: flex;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
 .box{
    width: 20px;
    height: 20px;
   
    border-radius: 50%;
    box-shadow: rgb(50 50 93 / 17%) 0px 30px 60px -12px inset, rgb(0 0 0 / 1%) 0px 18px 16px -18px inset;
    /* border: 1px solid #000; */
}

 .box:first-child {
    width: 30px;
    height: 30px;
}
 .box:last-child {
    width: 30px;
    height: 30px;
}


.card_bottom_bg_new{
    padding: 15px;
    background: #fff;
}

.fashion_code_btn{
    font-family: Hind;
    font-size: 15px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    background: #FFB800;
    color: #000;
    border: none;
    padding: 7px 16px;
}
@media (min-width: 1600px) {
    .container {
        max-width: 1540px;
    }
}
@media (max-width:1440px){
    .footer_icon_img {
       
        left: -7px;
        top: 14%;
    }
    .discounts_deals_heading {

        font-size: 60px;
    }
}
@media (max-width: 1380px) {
    .discounts_deals_heading {
        font-size: 53px;
    }
    .categories_tab_box {
    
        width: 350px;
    }
    .fashion_bg {
      
        padding-top: 446px;
    }
    .food_bg {
   
        padding-top: 200px;
    }
    .travel_bg {
       
        padding-top: 162px;
    }
    .categories_heading {
        font-size: 39px;
    }
    .categories_text {
        font-size: 14px;
    }
    .shop_feature_frame_bg {
     
        padding: 194px 0px;
    }
}
@media (max-width: 1180px) {
    .discounts_deals_heading {
        font-size: 43px;
    }
    .banner_text {
        font-size: 12px;
    }
    .categories_text {
        font-size: 12px;
    }
    .categories_heading {
        font-size: 34px;
    }
    .categories_tab_box {
        width: 300px;
    }
    .fashion_bg {
        padding-top: 395px;
    }
    .food_bg {
        padding-top: 165px;
    }
    .travel_bg {
        padding-top: 147px;
    }
    .coupon_code_text {
        font-size: 13px;
        padding: 0px 195px;
    }
    .coupon_card {
        padding: 12px 12px 126px;
    }
    .card_bottom_bg_new {
     
        padding: 2px 12px 12px 12px;
    }
    .card_heading {
   
        font-size: 16px;
       
    }
    .shop_smart_heading {
        font-size: 26px;

    }  
    .counter_text {
        font-size: 12px;
     
    }
    .counter_numbers {
        font-size: 28px;
    }
    .shop_feature_frame_bg {
        padding: 159px 0px;
    }
    .featured_shop_text {
    
        font-size: 15px;
        
    }
    .featured_shop_heading {
        font-size: 33px;
    }
    .testimonial_text {
        font-size: 13px;
        padding: 45px 16px;
    }
    .promo_code_div {
        padding: 21px 11px;
        align-items: center;
              
    }
    .promo_img {
        width: 19%;
        height: 85%;
 
    }
    .promo_text {

        font-size: 13px;
      
    }
    .get_coupon_text {
        font-size: 11px;
     
    }
    .best_discounts_heading {
        font-size: 31px;
    }
    .subscribe_text {
        font-size: 26px;
    }
    input.comments_input[type=email] {
        width: 70%;
    }
    .footer_about {
      font-size: 11px;
  
    }
}
@media (max-width:991px){
    .footer_icon_img {
        left: -8px;
        top: 0;
    }
    .footer_icon_img_two {
   
        bottom: 30%;
    }
    .banner_section .row {
        flex-direction: column-reverse;
    }
    .feature_shop_bg .row {
        flex-direction: column-reverse;
    }
    .banner_right_img {
        width: 46%;
    }
    .banner_section {
        background-size: 100% 100%;
    }
    .discounts_deals_heading {
        font-size: 46px;
    }
    .categories_heading {
        font-size: 25px;
    }
    .categories_tab_box {
        width: 100%;
    }
    .category_option_img {
        width: 17%;
    }
    .spacing_btw_rows{
        margin-top: 40px;
    }
    .coupon_code_text {
  
        padding: 0px 92px;
    }
    .coupon_card {
       
        padding: 12px 12px 214px;
       
    }
    .shop_smart_heading {
        font-size: 20px;
    }
    .shop_feature_frame_bg {
      
        background-size: 58% 100%;
        padding: 182px 0px;
    }
 
    .counter_box_row {
        display: block;
        margin-top: 14px;
    }
    .counter_text {
        font-size: 14px;
        text-align: center;
    }
    .counter_numbers {
        font-size: 32px;
    }
    /* .featured_shop_heading {
        font-size: 30px;
        line-height: 32.97px;
    } */
    .subscribe_text {
        font-size: 19px;
    }
    .comment_btn {
 
        font-size: 12px;
     
        width: 51%;
    }
    .newsletter_bg_box {
        background-size: 98% 82%;
        padding: 12px 28px;
    }
    .quick_link_heading {
      
        margin-top: 30px;
    }
    .watch_icon_img {
        width: 16%;
    }
}
@media (max-width: 768px) {
    .footer_icon_img {
        left: -9px;
        top: 7%;
    }
}
@media (max-width: 600px) {
    .footer_icon_img {
        left: 0px;
        top: 0px;
        width: 8%;
    }
    .footer_icon_img_two {
      
        width: 15%;
    }
    .third_section{
        background-size: cover;
    }
    .discounts_deals_heading {
        font-size: 20px;
        line-height: 50px;
    }
    .coupon_code_heading {
       
        font-size: 26.47px;
       
    }
    .coupon_code_text {
      font-size: 12px;
        padding: 0px;
    }
    .spacing_btw_rows_second{
        margin-top: 40px;
    }
    .shop_smart_heading {
        font-size: 17px;
    }
    .counter_numbers {
        font-size: 24px;
    }
    .featured_shop_text {
        font-size: 10px;
    }
    .shop_feature_frame_bg {
        background-size: 100% 100%;
        padding: 182px 0px;
    }

    .fashion_bg {
        background-size: cover;
    }

    .shop_features_logos_div {
        flex-wrap: wrap;
        justify-content: center;
    }

    p {
        line-height: 1.7 !important;
    }

    h1, h2, h3 {
        line-height: 30px !important;
    }

    p.discount_tag {
        font-size: 13px;
        line-height: 1 !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section.blogs_section > div > .row:last-child {
        justify-content: center;
    }

    .mySwiper .swiper-button-next:after, .mySwiper .swiper-button-prev:after {
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .promo_code_div img {
        width: 60%;
        margin: auto;
        margin-bottom: 10px !important;
    }

    .promo_code_div {
        height: auto;
    }

    .newsletter_bg_box {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /* background-size: cover !important; */
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        padding: 12px 5px;
    }
    .add_email_div{
        width: 100%;
        margin: 5px;
        padding: 5px 0px;
    }
  
    input.comments_input[type=email] {
        width: 67%;
        padding: 0 15px;
        font-size: 14px;
        border-radius: 48px 33px 33px 0px;
    }
    .comment_btn {
        padding: 7px 7px;
    }

    
}
@media (max-width:390px){
    .newsletter_bg_box {
    
        background-size: cover;
      
    }
    .subscribe_text {
        font-size: 17px;
    }
}